@{
    ViewData["Title"] = "Home Page";
}
<form method="post" action="/UserQuestionsController/AddUser">
    <p>Welcome</p>
    <table>
        <tr>
            <td><p>Введите свое имя </p></td>
            <td><input type="text" name="Person" /> </td>
        </tr>
        <tr>
            <td><p>Введите свою фамилию :</p></td>
            <td><input type="text" name="Address" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="Отправить" /> </td>
            <td></td>
        </tr>
    </table>
</form>